body {
  padding-top: 56px;
}


#map_canvas {
	width:100%;
	height:100%;
}


.map-page {
	position: relative;
	width:100%;
	height: calc(100vh - 56px);
	z-index:1;
}

#userList {
	position: absolute;
	top: 10px;
	right: 60px;
	width: 270px;
	background: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	border-radius: 2px;	
	overflow: hidden;
}

#userList .header-panel {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	
}

#userList .header-panel .nav-icon {
	font-size: 18px;
	cursor: pointer;
	width: 44px;
	text-align: center;
}

#userList .header-panel .title {
	flex: 1;
	font-size: 16px;
	line-height: 1.2;
}

#userList .header-panel .close-panel {
	padding: 15px;
	font-size: 22px;
	line-height: 1;
	cursor: pointer;
	opacity: 0.7;
	transition: transform .2s;
}
#userList .header-panel .close-panel:hover {
	opacity: 1;
	transform: scale(1.2);
}

#openUserList {
	position: absolute;
	top: 70px;
	right: 6px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	
}

#openUserList i { 
	margin: 0 auto;
	opacity: 0.7;
	transition: transform .2s;
}
#openUserList:hover i {
	opacity: 1;
	transform: scale(1.2);
}

#userList .panel-content {
	max-height: calc(100vh - 56px - 10px - 56px - 20px);
	overflow: hidden;
	display: flex;
	width: 200%;
	transition: all 0.3s;
}

#userList .user-list {
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

#userList .user-list .user {
	height: 80px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

#userList .user-list .user .checkbox {
	padding: 0 0 0 15px
}
#userList .user-list .user .checkbox label {
	cursor: pointer;
}

#userList .user-list .user .pin {
	cursor: pointer;
	padding: 0 15px;
}

#userList .user-list .user .pin img {
	width: 20px
}

#userList .user-list .user .username {
	flex: 1;
	cursor: pointer;
	line-height: 1.2;
}

#userList .user-list .user .user-active {
	padding: 0 10px;
	color:#aaa;
	cursor: pointer;
}

#userList .user-list .user .user-active.active {
	color: #32A232;
}


#userList .user-list .header {
	position: sticky;
	top: 0;
	background: #fff;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	z-index: 10;
	cursor: pointer;
}

#userList .user-list .header .checkbox {
	padding: 10px 15px;
	cursor: pointer;
}

#userList .user-list .header .checkbox label {
	cursor: pointer;
}

#userList .empty-list {
	padding: 30px 0;
	text-align: center;
	font-size: 14px;
	opacity: 0;
	transition: .2s all;
}

#userList .user-info {
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom: 6px solid;
}
#userList .user-info .user-info-wrap {
	display: none;
}

#userList .user-info .top-info {
	display: flex;
	align-items: center;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.06);
	
}

#userList .user-info .top-info .pin {
	flex:1;
	padding: 10px 0;
	cursor: pointer;
}

#userList .user-info .top-info .pin img {
	width: 22px;
}
#userList .user-info .top-info .follow {
	flex:1;
	font-size: 22px;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	color: #999;
}

#userList .user-info .top-info .follow.active {
	color:#0073e5;
}

#userList .user-info .top-info .follow:hover {

}
#userList .user-info .top-info .follow .desc {
	font-size: 10px;
	padding-top: 5px;

}

#userList .user-info .top-info .online {
	flex:1;
	font-size: 24px;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
}

#userList .user-info .top-info .online.active {
	color:#00cc00;
}

#userList .user-info .top-info .online:hover {

}
#userList .user-info .top-info .online .desc {
	font-size: 10px;
	padding-top: 5px;

}

#userList .user-info .info-title {
	padding: 5px 0 5px 15px;
	font-size: 12px;
	color: #444;
}


#userList .user-info .table-info {
	background: #fff;
}

#userList .user-info .table-info tr {
	border-bottom: 1px solid rgba(0,0,0,0.06);
}

#userList .user-info .table-info tr:last-of-type {
	border-bottom: 0px;
}

#userList .user-info .table-info th:first-child {
	padding: 6px 15px;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
}


#userList .user-info .table-info td:nth-of-type(1) {
	padding: 6px;
	width: 100%;
	vertical-align: middle;
	font-size: 14px;
}
#userList .user-info .table-info .gps-span {
	vertical-align: middle;
}

#userList .user-info .user-map-link {
	width: 100%;
	display: flex;
	text-align: center;
}

#userList .user-info .user-map-link a {
	flex:1;
	padding: 10px 0px 10px;
	font-size: 14px;
	display: block;
}

#userList .user-info .user-map-link a:hover, #userList .user-info .user-map-link button:hover, #userList .user-info .user-map-link button:focus {
	text-decoration: none;
}

#userList .user-info .user-map-link button {
	flex:1;
	padding: 10px 0px 10px;
	font-size: 14px;
	cursor: pointer;
}

#userList .user-info .user-map-form {
	padding: 0 10px;
	margin-bottom: 0;
}

#userList .user-info .user-map-form label {
	font-size: 12px;
}

#userList .user-info .user-map-form input {
	font-size: 12px;
	padding: 2px 5px;
	height: initial;
	border-radius: 0px;
}

#userList .user-info .user-tracks-link {
	width: 100%;
	display: flex;
	text-align: center;
	margin-top: 5px;
}

#userList .user-info .user-tracks-link a {
	flex:1;
	padding: 0px 0px 20px;
	font-size: 14px;
	display: block;
}

#userList .user-info .user-tracks-link a:hover {
	text-decoration: none;
}

/* User Map */



#user {
	position: absolute;
	top: 10px;
	right: 60px;
	width: 270px;
	background: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	border-radius: 2px;	
	overflow: hidden;
}

#user .header-panel {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	
}

#user .header-panel .nav-icon {
	font-size: 18px;
	width: 44px;
	text-align: center;
}

#user .header-panel .title {
	flex: 1;
	font-size: 16px;
	line-height: 1.2;
}

#user .header-panel .close-panel {
	padding: 15px;
	font-size: 22px;
	line-height: 1;
	cursor: pointer;
	opacity: 0.7;
	transition: transform .2s;
}
#user .header-panel .close-panel:hover {
	opacity: 1;
	transform: scale(1.2);
}

#openUser {
	position: absolute;
	top: 70px;
	right: 6px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

#openUser i { 
	margin: 0 auto;
	opacity: 0.7;
	transition: transform .2s;
}
#openUser:hover i {
	opacity: 1;
	transform: scale(1.2);
}

#user .panel-content {
	max-height: calc(100vh - 56px - 10px - 56px - 20px - 40px);
	overflow: hidden;
	display: flex;
	width: 100%;
	transition: all 0.4s;
}

#user .empty-list {
	padding: 30px 0;
	text-align: center;
	font-size: 14px;
	opacity: 0;
	transition: .2s all;
}

#user .user-info {
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom: 6px solid #fff;
}

#user .user-info .user-info-wrap {
	display: none;
}


#user .user-info .top-info {
	display: flex;
	align-items: center;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.06);
	
}

#user .user-info .top-info .pin {
	flex:1;
	padding: 10px 0;
	cursor: pointer;
}

#user .user-info .top-info .pin img {
	width: 22px;
}
#user .user-info .top-info .follow {
	flex:1;
	font-size: 22px;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	color: #999;
}

#user .user-info .top-info .follow.active {
	color:#0073e5;
}

#userList .user-info .top-info .follow:hover {

}
#user .user-info .top-info .follow .desc {
	font-size: 10px;
	padding-top: 5px;

}

#user .user-info .top-info .online {
	flex:1;
	font-size: 24px;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
}

#user .user-info .top-info .online.active {
	color:#32A232;
}

#userList .user-info .top-info .online:hover {

}
#user .user-info .top-info .online .desc {
	font-size: 10px;
	padding-top: 5px;

}

#user .user-info .info-title {
	padding: 5px 0 5px 15px;
	font-size: 12px;
	color: #444;
}


#user .user-info .table-info {
	background: #fff;
}

#user .user-info .table-info tr {
	border-bottom: 1px solid rgba(0,0,0,0.06);
}

#user .user-info .table-info tr:last-of-type {
	border-bottom: 0px;
}

#user .user-info .table-info th:first-child {
	padding: 6px 15px;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
}


#user .user-info .table-info td:nth-of-type(1) {
	padding: 6px;
	width: 100%;
	vertical-align: middle;
	font-size: 14px;
}
#user .user-info .table-info .gps-span {
	vertical-align: middle;
}

#user .user-info .user-tracks-link {
	width: 100%;
	display: flex;
	text-align: center;
}

#user .user-info .user-tracks-link a {
	flex:1;
	padding: 0px 0px 20px;
	font-size: 14px;
	display: block;
}

#user .user-info .user-tracks-link a:hover {
	text-decoration: none;
}

/* User Tracks */

#userTracks {
	position: absolute;
	top: 10px;
	right: 60px;
	width: 270px;
	background: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	border-radius: 2px;	
	overflow: hidden;
}

#userTracks .header-panel {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	
}

#userTracks .header-panel .nav-icon {
	font-size: 18px;
	cursor: pointer;
	width: 44px;
	text-align: center;
}

#userTracks .header-panel .title {
	flex: 1;
	font-size: 16px;
	line-height: 1.2;
}

#userTracks .header-panel .close-panel {
	padding: 15px;
	font-size: 22px;
	line-height: 1;
	cursor: pointer;
	opacity: 0.7;
	transition: transform .2s;
}
#userTracks .header-panel .close-panel:hover {
	opacity: 1;
	transform: scale(1.2);
}

#openUserTracks {
	position: absolute;
	top: 70px;
	right: 6px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	
}

#openUserTracks i { 
	margin: 0 auto;
	opacity: 0.7;
	transition: transform .2s;
}
#openUserTracks:hover i {
	opacity: 1;
	transform: scale(1.2);
}

#userTracks .panel-content {
	max-height: calc(100vh - 56px - 10px - 56px - 20px - 40px);
	overflow: hidden;
	display: flex;
	width: 200%;
	transition: all 0.4s;
}

#userTracks .track-list {
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
}
#userTracks .track-list .track {
	height: 80px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

#userTracks .track-list .track:hover {
	background: #eee;
}

#userTracks .track-list .track.active {
	position: relative;
}

#userTracks .track-list .track.active:after {
	position: absolute;
	content: "";
	bottom: 0px;
	left:0px;
	right: 0px;
	height: 5px;
	background: #e84141;
	animation: a1a .2s;
}

@keyframes a1a {
	from {opacity:0;}
	to {opacity:1}
}

#userTracks .track-list .track .date {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 10px;
}

#userTracks .track-list .track .date .date-1 {
	font-size: 16px;
    line-height: 1;
}

#userTracks .track-list .track .date .date-2 {
	font-size: 12px;
    color: #777;
}

#userTracks .track-list .track .name {
	flex: 1;
	line-height: 1.2;
	padding: 0 5px;
	font-size: 14px;
}

#userTracks .track-list .track .distance {
	display: flex;
	flex-direction: column;	
	align-items: center;
	padding: 0 10px;
}

#userTracks .track-list .track .distance .distance-1 {
	font-size: 16px;
	line-height: 1;
}

#userTracks .track-list .track .distance .distance-2 {
	font-size: 12px;
	color: #777;
}

#userTracks .track-list .header {
	position: sticky;
	top: 0;
	background: #fff;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	z-index: 10;
	padding: 10px 20px;
}


#userTracks .empty-list {
	padding: 30px 0;
	text-align: center;
	font-size: 14px;
	opacity: 0;
	transition: .2s all;
}

#userTracks .track-info {
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom: 6px solid #e84141;
}

#userTracks .track-info .track-info-wrap {
	display: none;
}

#userTracks .track-info .track-details {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

#userTracks .track-details .det {
	display: flex;
	align-items: center;
	padding: 12px 0;
	border-bottom: 1px solid rgba(0,0,0,0.06);
}

#userTracks .track-details .det .det-name {
	width: 80px;
	padding: 0 15px;
	font-size: 14px;
	color:#333;
	text-align: right;
	line-height: 1.2;
}

#userTracks .track-details .det .det-value {
	flex:1;
	font-size: 14px;
	color:#333;
	line-height: 1.2;
}

#userTracks .track-info .track-map-link {
	width: 100%;
	display: flex;
	text-align: center;
}

#userTracks .track-info .track-map-link a {
	flex:1;
	padding: 10px 0px 10px;
	font-size: 14px;
	display: block;
}

#userTracks .track-info .track-map-link a:hover, #userTracks .track-info .track-map-link button:hover, #userTracks .track-info .track-map-link button:focus {
	text-decoration: none;
}

#userTracks .track-info .track-map-link button {
	flex:1;
	padding: 10px 0px 10px;
	font-size: 14px;
	cursor: pointer;
}

#userTracks .track-info .track-map-form {
	padding: 0 10px;
	margin-bottom: 0;
}

#userTracks .track-info .track-map-form label {
	font-size: 12px;
}

#userTracks .track-info .track-map-form input {
	font-size: 12px;
	padding: 2px 5px;
	height: initial;
	border-radius: 0px;
}


/* User Track */


#userTrack {
	position: absolute;
	top: 10px;
	right: 60px;
	width: 270px;
	background: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	border-radius: 2px;	
	overflow: hidden;
}

#userTrack .header-panel {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	
}

#userTrack .header-panel .nav-icon {
	font-size: 18px;
	width: 44px;
	text-align: center;
}

#userTrack .header-panel .title {
	flex: 1;
	font-size: 16px;
	line-height: 1.2;
}

#userTrack .header-panel .close-panel {
	padding: 15px;
	font-size: 22px;
	line-height: 1;
	cursor: pointer;
	opacity: 0.7;
	transition: transform .2s;
}
#userTrack .header-panel .close-panel:hover {
	opacity: 1;
	transform: scale(1.2);
}

#openUserTrack {
	position: absolute;
	top: 70px;
	right: 6px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	
}

#openUserTrack i { 
	margin: 0 auto;
	opacity: 0.7;
	transition: transform .2s;
}
#openUserTrack:hover i {
	opacity: 1;
	transform: scale(1.2);
}

#userTrack .panel-content {
	max-height: calc(100vh - 56px - 10px - 56px - 20px - 40px);
	overflow: hidden;
	display: flex;
	width: 100%;
	transition: all 0.4s;
}

#userTrack .track-info {
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom: 6px solid #e84141;
}

#userTrack .track-info .track-details {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

#userTrack .track-details .det {
	display: flex;
	align-items: center;
	padding: 12px 0;
	border-bottom: 1px solid rgba(0,0,0,0.06);
}

#userTrack .track-details .det .det-name {
	width: 80px;
	padding: 0 15px;
	font-size: 14px;
	color:#333;
	text-align: right;
	line-height: 1.2;
}

#userTrack .track-details .det .det-value {
	flex:1;
	font-size: 14px;
	color:#333;
	line-height: 1.2;
}

#userTrack .track-info .info-title {
	padding: 5px 0 5px 15px;
	font-size: 14px;
	color: #444;
}

#userTrack .track-info .track-link {
	width: 100%;
	display: flex;
	text-align: center;
}

#userTrack .track-info .track-link a {
	flex:1;
	padding: 10px 0px 10px;
	font-size: 14px;
	display: block;
}

#userTrack .track-info .track-link a:hover {
	text-decoration: none;
}

#breadcrumbs {
	position: absolute;
	bottom: 24px;
	right: 60px;
	display: flex;
	align-items: center;
	flex-direction: column;
	opacity: 0;
}

#breadcrumbs .breadcrumbs-wrap {
	background: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	border-radius: 2px;	
	overflow: hidden;
	line-height: 1;
	padding: 10px 15px;
	font-size: 14px;
}

@media only screen and (max-width: 400px) {
	/* #userList, #user, #userTracks, #userTrack {
		top: -56px;
		bottom: calc(50% + 28px);
		left:0;
		right:0;
		width: 100%;
		border-radius: 0;
	}

	#userList .panel-content, #user .panel-content, #userTracks .panel-content, #userTrack .panel-content {
		max-height: calc(100% - 54px);
	}

	.map-page	{
		z-index:2000;
	} */

	
	

}




