<div class="card my-4">
  <h5 class="card-header">Menu</h5>
  <div class="card-body">

    <ul class="sidebar-list list-unstyled mb-0">
      <li>
        <a href="/login">Logowanie</a>
      </li>
      <li>
        <a href="/signup">Rejestracja</a>
      </li>
      <li>
        <a href="/userpage">Userpage</a>
      </li>
      <% if(user.isLoggedIn) { %>
      <li>
          <a href="/logout">Wyloguj się</a>
      </li>
      <% } %>
      <li>
        <a href="/map">Live GPS Map</a>
      </li>
    </ul>
  </div>
</div>